body{
	color:red;
	background: #000;
	margin: 0;
	padding: 0;

}

.section_title{
	text-align: center;
	font-family: Arial ;
	font-size: 32px;
	margin-bottom: 30px;
	border-radius: 30px;
	border-top: 5px solid green;
	border-left:  4px solid red;
	border-bottom: 10px solid darkblue;
	border-right: 20px solid yellow;
	padding: 10px;
	margin-top: 10px;
}

.shadow{

	position: relative;
	margin: 300px auto 0 ;
	width: 400px;
	height: 250px;
	background: linear-gradient(0deg,#000,#262626);
}
.shadow:before,
.shadow:after
{
content: '';
position: absolute;
top: -2px;
left: -2px;
background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);

background-size: 400%;
width: calc(100% + 4px);
height:  calc(100% + 4px);
z-index: -1;
animation: animate 20s linear infinite;

}

.shadow:after{
	filter: blur(20px);
}


@keyframes animate {
	0%{
		background-position:  0 0 ;
	}
	50%{
		background-position: 500% 0 ;
	}

100%{
		background-position:  0 0 ;
	}

}